<nav class="bottom-nav">
  <div class="nav-item" [class.active]="activeTab === 'dashboard'" (click)="setActiveTab('dashboard')">
    <div class="nav-icon icon-dashboard"></div>
    <div>Dashboard</div>
  </div>

  <!-- Mostrar opciones de login y registro solo cuando no está autenticado -->
  <div *ngIf="!isAuthenticated" class="nav-item" [class.active]="activeTab === 'login'" (click)="setActiveTab('login')">
    <div class="nav-icon icon-user"></div>
    <div>Login</div>
  </div>

  <div *ngIf="!isAuthenticated" class="nav-item" [class.active]="activeTab === 'register'" (click)="setActiveTab('register')">
    <div class="nav-icon icon-add-user"></div>
    <div>Registro</div>
  </div>

  <!-- Mostrar opción de logout solo cuando está autenticado -->
  <div *ngIf="isAuthenticated" class="nav-item" [class.active]="activeTab === 'logout'" (click)="setActiveTab('logout')">
    <div class="nav-icon icon-logout"></div>
    <div>Cerrar Sesión</div>
  </div>

  <div class="nav-item" [class.active]="activeTab === 'about'" (click)="setActiveTab('about')">
    <div class="nav-icon icon-info"></div>
    <div>Acerca de</div>
  </div>

  <!--
  Elemento de navegación para el tab 'alertas'
  <div class="nav-item" [class.active]="activeTab === 'alertas'" (click)="setActiveTab('alertas')">
    <div class="nav-icon icon-alert"></div>
    <div>Alertas</div>
  </div>
  -->

  <!--
  Elemento de navegación para el tab 'ajustes'
  <div class="nav-item" [class.active]="activeTab === 'ajustes'" (click)="setActiveTab('ajustes')">
    <div class="nav-icon icon-settings"></div>
    <div>Ajustes</div>
  </div>
  -->
</nav>
