<app-header></app-header>

<div class="main-content pb-6">
  <div class="about-container">
    <h1 class="title">Conoce más del proyecto</h1>
    <blockquote class="quote">
      «Solo donde hay vida hay también voluntad: pero no voluntad de vida, sino -así te lo enseño yo- ¡voluntad de poder!»
      <br>
      <cite>- Nietzsche, F.: Así habló Zaratustra. De la superación de mí mismo, p 171-172</cite>
    </blockquote>
    <div class="about-section">
      <h2 class="subtitle">¿Quién está detrás?</h2>
      <p>El parcero que está haciendo esto es Santiago, un apasionado por crear. Puedes concer más de este personaje en su página web <a href="https://gaugelife.co" target="_blank">gaugelife.co</a></p>
      <p class="note">(Perdón por hablar en tercera persona, es que era para no perder el ritmo)</p>
    </div>

    <div class="about-section">
      <h2 class="subtitle">¿Qué es 2.5 Vision?</h2>
      <p>El proyecto busca concluir la hipótesis de que a partir del análisis de imagénes se puede estimar la concentración de material particulado en el aire.
        Esto basándose en un modelo físico detallado en <a href="https://gaugelife.co/gauge-implications/25-vision/physical-fundamentals/" target="_blank"> la documentación del proyecto </a>,
        en donde previamente se pudo encontrar una buena correlación entre la presencia de pm2.5 (de ahí el "2.5Vision") y la intensidad de luz
        capatada por los sensores fotográficos de las cámaras.
      </p>

      <p>
        El detalle de la implementación se encuentra en la documentación del proyecto.
      </p>


    </div>

    <div class="about-section">
      <h3 class="section-title">¿Qué datos obtenemos con tu ayuda?</h3>
      <ul class="values-list">
        <li><span class="highlight">Metadata:</span> La información que viene por defecto en las imágenes, como la fecha, la hora, la ubicación, parámetros de la cámara, etc.</li>
        <li><span class="highlight">Contenido visual de la imagen:</span>En escencia un red convolucional detectará patrones visuales de la imágen que subas</li>
        <li><span class="highlight">Usuario:</span> Esto solo se usa por si eres el usuario con mayor cantidad de imágenes subidas y poder ser contactado para recibir el premio</li>
      </ul>

      <p>
        <span class="highlight-box">Este proyecto es de código abierto, por lo que podrás validar que la información anterior es correcta.</span>
      </p>
    </div>

    <div class="about-section">
      <h3 class="section-title">Etapas del proyecto</h3>
      <p>Un breve cronograma con el estado y progreso del proyecto</p>

      <div class="timeline">
        <div class="timeline-item">
          <div class="timeline-date">Etapa 1</div>
          <div class="timeline-content">
            <h4 class="timeline-title">Recolección de datos</h4>
            <p>Se reunen las fotografías con datos etiquetados para entrenar el modelo</p>
          </div>
        </div>

        <div class="timeline-item">
          <div class="timeline-date">Etapa 2</div>
          <div class="timeline-content">
            <h4 class="timeline-title">Entrenamiento del modelo</h4>
            <p>Se entrena el modelo con los datos recopilados en la etapa 1 y agregando información de redes de monitoreo de calidad del aire,
              en este caso PurpleAir y SIATA.
            </p>
          </div>
        </div>

        <div class="timeline-item">
          <div class="timeline-date">Etapa 3</div>
          <div class="timeline-content">
            <h4 class="timeline-title">Validación del modelo</h4>
            <p>Aun no tengo muy claro la estrategia para validar el modelo jaja, ¿alguna sugerencia?</p>
          </div>
        </div>

        <div class="timeline-item">
          <div class="timeline-date">Etapa 4</div>
          <div class="timeline-content">
            <h4 class="timeline-title">Publicación del modelo</h4>
            <p>Esta página se convierte en un punto de entrada para subir una imagen y que el resultado sea la estiamción de la concentración de material particulado en el aire</p>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<app-bottom-nav [activeTab]="'about'" (tabChange)="onTabChange($event)"></app-bottom-nav>
